Source: zope.security
Section: zope
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all-dev,
               python3-btrees <!nocheck>,
               python3-pytest <!nocheck>,
               python3-setuptools,
               python3-zope.component,
               python3-zope.configuration <!nocheck>,
               python3-zope.exceptions <!nocheck>,
               python3-zope.i18nmessageid,
               python3-zope.location,
               python3-zope.proxy,
               python3-zope.schema,
               python3-zope.testing <!nocheck>,
Standards-Version: 4.6.1
Homepage: https://github.com/zopefoundation/zope.security
Rules-Requires-Root: no

Package: python3-zope.security
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Conflicts: zope3
Description: Zope Security Framework
 The Security framework provides a generic mechanism to implement security
 policies on Python objects.
 .
 This is the Python 3 version.
